[Unit]
Description=Incus - Container and VM manager (Unix socket)
Documentation=https://linuxcontainers.org/incus/docs/main/

[Socket]
ListenStream=/var/lib/incus/unix.socket
SocketMode=0660
SocketGroup=incus-admin
Service=incus.service

[Install]
WantedBy=sockets.target
